body{
  background: rgb(0,8,32);
background: linear-gradient(90deg, rgba(0,8,32,1) 0%, rgba(0,8,32,1) 100%);
  width: 100%;
  height: 300px;
  color: white;
}
.footer{
margin-top: 130px;
padding-top: 5px;
padding-bottom: 10px;
border-top: 1px solid rgb(3, 167, 3);
color: rgb(3, 167, 3);
}
.footer-text {
margin: 0;
}
.footer {

text-align: center;

}
.home-content{
  text-align: center;
  font-size: 50px;
  margin: 100px 0 100px 0;
}
.login-card{
  margin:70px 200px 70px 200px;
  background-color: transparent;
}
.form-input{
  margin: 10px 0 10px 0;
  border: 1px solid rgb(3, 167, 3);
  background-color: transparent;
}
.signup-btn{
  width: 49%;
}
.card-body #form-error{
  color: red;

}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 60px;
  color: white;
}

.logo {
  flex: 0 0 auto; /* Ensures the logo does not grow or shrink */
}

.logo img {
  max-width: 20%; /* Updated size of the logo image */
  height: auto;
  position:absolute;
  z-index: 100;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Allows the nav-links to take up all available space */
}

.nav-links li {
  margin:20px 10px 60px 10px;
}

.nav-links li a {
  text-decoration: none;
  color: rgb(3, 167, 3);
}

.nav-links li a:hover {
  color: #666;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .logo img {
      max-width: 150px; /* Reduce size of the logo image for smaller screens */
  }

  .nav-links li {
      margin: 0 5px; /* Reduce margin for smaller screens */
  }
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-top: 20px;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-section-all {
  position: relative;
  width: 100%;
  height: 20vh;
  overflow: hidden;
  margin-top: 20px;
}

.hero-image-all img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.cta-button {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 3px;
}


/* products */
.movies-section {
  padding:0rem 0rem 2rem 2rem;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 3rem;
  margin-top:1rem;
  color: rgb(3, 167, 3);
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.movies-row {
  flex-basis: 100%;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.movie-item {
  flex-basis: calc(23% - 1rem);
  margin-bottom: 0rem;
  
}

.movie-image-container {
  width: 320px;
  height: 300px;
  overflow: hidden;
}

.movie-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-details {
   /* Same width as movie-image-container */
  
  padding: 1rem;

  color: rgb(192,192,192);
}

.movie-title {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.movie-description {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

/*  */
.container-media{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  color: white;
}

.image-column {
  flex: 1;
  max-width: 100%;
}
.media-section{
  margin-top: 80px;
  background-color: red;
}

.image-column img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.description-column {
  flex: 1;
  padding: 0 20px;
}

.movie-title {
  font-size: 24px;
}

.movie-description {
  margin-top: 10px;
  font-size: 16px;
}

.movie-release-date,
.movie-genre,
.movie-cast {
  margin-top: 10px;
  font-size: 14px;
}

.movie-release-date span,
.movie-genre span,
.movie-cast span {
  font-weight: bold;
}

.movie-download-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  margin-top: 10px;
}

.movie-download-button:hover {
  background-color: #0056b3;
}

/* forums */


.row {
  display: flex;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 40px;
  gap: 5%;
}
.column{
  grid-gap: 20px;
}

.column:nth-of-type(1) {flex-grow: 1;}
.column:nth-of-type(2) {flex-grow: 3;}
 
.column .nav{
  background-color: antiquewhite;
  width: 100%;

}
.column .topics{
 border: 2px solid rgb(3, 167, 3);
  width: 100%;
  padding: 30px;
}
.topics .content{
  margin-left: 10%;
  margin-top: 40px;
}

.column {
  float: left;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

.topics ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Center the list items */
.topics li {
  margin-left: 10%;

}

.topics li .a {
  
  color: #B1A5C9;
}

/* Add margin between list items */
.topics li + li {
  margin-top: 10px;
}

/* Add horizontal line as a divider */
.topics  hr {
  border: none;
  border-top: 1px solid  #2B2038;
  margin-left: 10%;
  
}
.topic{
  padding: 10px;
}

.add-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #007bff;
  cursor: pointer;
  float: right;
  margin-right: 20%;
}

.add-button::before,
.add-button::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #fff;
}

.add-button::before {
  transform: rotate(90deg);
}

.form-post textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid  rgb(3, 167, 3);
  border-radius: 5px;
  background-color: transparent;
}
.form-post{
  margin: 0 auto;
  margin-left: 10%;
  text-align: center;
  width: 100%;
  margin-top: 90px;
  color: grey;
}

.active{
  color: red;
  
}

.comment {
  display: flex;
  margin-bottom: 20px;
 
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profile-image img {
  display: block;
  width: 100%;
  height: auto;
}

.comment-details {
  flex: 1;
  border: 1px solid  rgb(3, 167, 3);
  border-radius: 10px;
  background-color: transparent;
  padding: 10px;
}

.user-info h3 {
  margin: 0;
}

.user-info span {
  font-size: 12px;
  color: #999;
}

.comment-text p {
  margin: 0;
  color: white;
}

.form-comment{
  margin: 0 auto;
 
  text-align: center;
  width: 80%;
  margin-top: 90px;
  color: grey;
}

.form-comment textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid  rgb(3, 167, 3);
  border-radius: 5px;
  background-color: transparent;
}


/* games */

.header-section{
  margin-top: 90px;
  height: 30px;
  width: 100%;
 
}
.header-section p {
  position: relative;
  bottom: 40px;
}

/* admin */

.admin-container{
  position: relative;
  top:40px;
  margin-top: 90px;
}
/* .comment{

  border: 1px solid  #2B2038;
  border-radius: 5px;
  background-color: transparent;
} */
/* Responsive styles for one column layout on small screens */
@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
  }

  .image-column img {
    max-height: 100%;
  }

  .description-column {
    padding: 20px;
  }
}


/* Media query for large screens like desktops */
@media (min-width: 1200px) {}
